body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ADD8E6;
}

.container {
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

li.completed span {
    text-decoration: line-through;
    color: #999;
}

button.remove {
    margin-left: auto;
    background-color: #FF7F7F;
}

button.remove:hover {
    background-color: #FF7F7F;
}

button.edit {
    background-color: #90ee90;
    color: #000;
    margin-left: 5px;
}

button.edit:hover {
    background-color: #90ee90;
}
